* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.menu-toggle {
  display: none;
}

#sidebar {
  width: 20%;
  height: 100%;
  /* background-color: #dadada; */
  /* border: 1px solid #969696; */
  border-radius: 7px;
  overflow: hidden;
  padding: 0 0.4rem;
  display: flex;
  padding-bottom: 0.4rem;
  flex-flow: column;
  /* gap: 7px; */
  /* overflow: hidden; */
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateX(0);
}
#sidebar.show {
  transform: translateX(-100%);
}

#contentbox {
  flex: 1;
}

.logodiv,
.navbar {
  width: 100%;
  height: 10%;
  /* background-color: rgb(245, 186, 186); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
}
.navbar {
  /* border-bottom: 1px solid #969696; */
}
.searchdiv {
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  border: 1px solid #969696;
}
.nav-icon {
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  border: 1px solid #969696;
}
input {
  border: none;
  outline: none;
}
.stextdiv {
  width: 95%;
  min-height: 90%;
  /* background-color: rgb(245, 186, 186); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.4rem 0.4rem;
  /* border: 1px solid #969696; */
  border-radius: 5px;
  gap: 5px;
  overflow-x: hidden;
}
.stdiv {
  width: 95%;
  min-height: 70%;
  /* background-color: rgb(245, 186, 186); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 0.4rem 0.4rem; */
  /* border: 1px solid #969696; */
  /* border-radius: 5px; */
  /* gap:5px; */
  overflow-x: hidden;
}
#firstsec {
  width: 100%;
  min-height: 28%;
  border-radius: 10px;
  /* border: 1px solid gray; */
  padding: 0rem 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#secondsec {
  width: 100%;
  min-height: 45%;
  border-radius: 10px;
  /* background-color: antiquewhite; */
  /* border: 1px solid #969696; */
  padding: 0rem 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

#thirdsec {
  width: 100%;
  min-height: 25%;
  /* padding-top: 3rem; */
  border-radius: 10px;
  /* background-color: antiquewhite; */
  /* border: 1px solid #969696; */
  padding: 0rem 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  /* overflow-x: hidden; */
}
*::-webkit-scrollbar-thumb {
  background-color: #c5c4c4;
  border-radius: 30px; /* Color of the scrollbar thumb */
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

.accordion {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  overflow-x: hidden;
}
.accordion-body {
  /* display: flex;
  flex-direction: column; */
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.accordion-body > h5 {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.accordion-button {
  height: 30px;
  /* outline: none;
  border: none; */
}
#secondsec > .createteam {
  justify-content: space-between;
}
h5 {
  width: 100%;
  padding: 0.5rem 0.4rem;
  font-size: 1.1rem;
  color: black;
}
h5:hover,
.accordion-button:hover {
  background-color: rgb(0, 0, 0, 0.08);
  border-radius: 5px;
}
.logohead {
  width: 80%;
  display: flex;
  gap: 7px;
  align-items: center;
}
.logotext {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.logotext > h3 {
  /* background-color: red; */
  height: 100%;
  line-height: 0.7rem;
}
.logo {
  width: 45px;
  height: 45px;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  overflow: hidden;
}
.profile {
  width: 40px;
  height: 40px;
  /* background-color: rgb(211, 116, 116); */
  border-radius: 50%;
  overflow: hidden;
}
.logo > img,
.profile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#contentbox {
  width: 80%;
  height: 100%;
  /* background-color: #dadada; */
  /* border: 1px solid #969696; */
  border-radius: 7px;
}
#sort {
  background-color: #ebeaeae8;
  border: 1px dashed #969696;
  color: rgb(147, 146, 146);
}
#producttable {
  width: 100%;
  height: 80%;
  /* background-color: red; */
  overflow-x: hidden;
}
#tablebox {
  min-height: 350px;
  width: 100%;
  /* background-color: rgb(228, 228, 248); */
}
#brandcol {
  min-width: 150px;
}
#brandcol1 {
  min-width: 120px;
}
#brandcol2 {
  min-width: 100px;
}
#brandcol3 {
  min-width: 40px;
  position: relative;
}
#brandcol3 > span > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.createteam,
.createteam3 {
  display: flex;
  gap: 7px;
}
.createteam3 {
  background-color: rgb(0, 0, 0, 0.08);
  border-radius: 5px;
}
.createteam3 > i {
  width: 20px;
  height: 20px;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  font-size: 0.4rem;
}
#biling {
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.4rem;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #333;
}

@media screen and (max-width: 900px) {
  #main {
    flex-direction: column;
  }
  #sidebar {
    display: none;
  }

  #contentbox {
    width: 100%;
  }
  #producttable {
    width: 100%;
    height: 80%;
    /* background-color: red; */
    overflow-x: scroll;
  }
  .menu-toggle {
    display: block;
  }
  .menu-toggle > #sidebar {
    display: flex;
  }
}
